<%- include("partials/header.ejs") %>
<div class="container">
<h1 id="post-title" class=" col-10"><%= Ntitle %></h1>

<p id="post-content" class="col-8"><%= Ncontent %></p>
<a href="/" id="back" class="btn btn-primary">Back</a>
</div>



<%- include("partials/footer.ejs") %>